body {
  font: 14px "Oxygen", sans-serif;
  color: #3F3F3F;
  background-color: #373737;
}

#notes {
  background-color: #85e2ec;
  border-radius: 3px;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 20px;
  right: 80px;
}

#header {
  background: url(../img/header.png);
  background-size: 100% auto;
  width: 1400px;
  height: 380px;
  padding: 20px;
  padding-top: 120px;
  padding-left: 80px;
  background-color: #206280; 
  overflow: visible;
  position: relative;
}

#content {
  width: 1400px;
  background-color: #EDEDED;
  padding: 50px;
  position: relative;
}

.box {
  border-radius: 5px;
  padding: 50px;
  margin: 20px;
  box-shadow: -3px 3px 3px #888888;
  display: inline-block;
  vertical-align: top;
}

#inputs-box {
  width: 600px;
  margin-left: 20px;
  background-color: #58b1cc;
}

#steps-box {
  width: 400px;
  background-color: #FED611;
}