@content-width: 1200px;

body {
  font: 14px "Oxygen", sans-serif;
  color: #3F3F3F;
  background-color: #373737;
}

#everything-container {
  width: @content-width;
  margin-left: auto;
  margin-right: auto;
}

#notes {
  background-color: #85e2ec;
  border-radius: 3px;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 20px;
  right: 80px;
  z-index: 10;
}

#header {
  background: url(../img/header_small.png);
  background-size: 100% auto;
  width: @content-width;
  height: 240px;
  padding: 20px;
  padding-top: 120px;
  padding-left: 80px;
  background-color: #206280; 
  overflow: visible;
  position: relative;
}

#content {
  width: @content-width;
  background-color: #EDEDED;
  padding: 50px;
  position: relative;
  z-index: 9;
}

.box {
  border-radius: 5px;
  padding: 50px;
  margin: 20px;
  // box-shadow: -3px 3px 3px #888888;
  display: inline-block;
  vertical-align: top;
}

#inputs-box {
  width: 600px;
  margin-left: 20px;
  // background-color: #58b1cc;
}

#steps-box {
  width: 400px;
  // background-color: #FED611;
}

.artifact-input {
  width: 100px;
  display: inline-block;
}

#methods-form {

}

#artifacts-form {

}

#weapons-form {

}

#customizations-form {
  
}