<div ng-controller="CalculatorController" id="calculator-container">
	here's some stuff

	steps: {{steps}}

	<form class="form" id="form">
		<input type="submit" ng-click="calculate(artifacts, weapons, customizations)" value="Calculate" />
		
    Amulet of the Valrunes:  <input type="text" class="form-control" ng-model="artifacts.a0" /></br>
		Axe of Resolution:       <input type="text" class="form-control" ng-model="artifacts.a1" /></br>
		Barbarian's Mettle:      <input type="text" class="form-control" ng-model="artifacts.a2" /></br>
		Chest of Contentment:    <input type="text" class="form-control" ng-model="artifacts.a3" /></br>
		Crafter's Elixir:        <input type="text" class="form-control" ng-model="artifacts.a4" /></br>
		Crown Egg:               <input type="text" class="form-control" ng-model="artifacts.a5" /></br>
		Dark Cloak of Life:      <input type="text" class="form-control" ng-model="artifacts.a6" /></br>
		Death Seeker:            <input type="text" class="form-control" ng-model="artifacts.a7" /></br>
		Divine Chalice:          <input type="text" class="form-control" ng-model="artifacts.a8" /></br>
		Drunken Hammer:          <input type="text" class="form-control" ng-model="artifacts.a9" /></br>
		Future's Fortune:        <input type="text" class="form-control" ng-model="artifacts.a10" /></br>
		Hero's Thrust:           <input type="text" class="form-control" ng-model="artifacts.a11" /></br>
		Hunter's Ointment:       <input type="text" class="form-control" ng-model="artifacts.a12" /></br>
		Knight's Shield:         <input type="text" class="form-control" ng-model="artifacts.a13" /></br>
		Laborer's Pendant:       <input type="text" class="form-control" ng-model="artifacts.a14" /></br>
		Ogre's Gauntlet:         <input type="text" class="form-control" ng-model="artifacts.a15" /></br>
		Otherworldly Armor:      <input type="text" class="form-control" ng-model="artifacts.a16" /></br>
		Overseer's Lotion:       <input type="text" class="form-control" ng-model="artifacts.a17" /></br>
		Parchment of Importance: <input type="text" class="form-control" ng-model="artifacts.a18" /></br>
		Ring of Opulence:        <input type="text" class="form-control" ng-model="artifacts.a19" /></br>
		Ring of Wondrous Charm:  <input type="text" class="form-control" ng-model="artifacts.a20" /></br>
		Sacred Scroll:           <input type="text" class="form-control" ng-model="artifacts.a21" /></br>
		Saintly Shield:          <input type="text" class="form-control" ng-model="artifacts.a22" /></br>
		Savior Shield:           <input type="text" class="form-control" ng-model="artifacts.a23" /></br>
		Tincture of the Maker:   <input type="text" class="form-control" ng-model="artifacts.a24" /></br>
		Undead Aura:             <input type="text" class="form-control" ng-model="artifacts.a25" /></br>
		Universal Fissure:       <input type="text" class="form-control" ng-model="artifacts.a26" /></br>
		Warrior's Revival:       <input type="text" class="form-control" ng-model="artifacts.a27" /></br>
		Worldly Illuminator:     <input type="text" class="form-control" ng-model="artifacts.a28" /></br>

		Takeda the Blade Assassin:       <input type="text" class="form-control" ng-model="weapons.w0" /></br>
		Contessa the Torch Wielder:      <input type="text" class="form-control" ng-model="weapons.w1" /></br>
		Hornetta, Queen of the Valrunes: <input type="text" class="form-control" ng-model="weapons.w2" /></br>
		Mila the Hammer Stomper:         <input type="text" class="form-control" ng-model="weapons.w3" /></br>
		Terra the Land Scorcher:         <input type="text" class="form-control" ng-model="weapons.w4" /></br>
		Inquisireaux the Terrible:       <input type="text" class="form-control" ng-model="weapons.w5" /></br>
		Charlotte the Special:           <input type="text" class="form-control" ng-model="weapons.w6" /></br>
		Jordaan, Knight of Mini:         <input type="text" class="form-control" ng-model="weapons.w7" /></br>
		Jukka, Master of Axes:           <input type="text" class="form-control" ng-model="weapons.w8" /></br>
		Milo and Clonk-Clonk:            <input type="text" class="form-control" ng-model="weapons.w9" /></br>
		Macelord the Ruthless:           <input type="text" class="form-control" ng-model="weapons.w10" /></br>
		Gertrude the Goat Rider:         <input type="text" class="form-control" ng-model="weapons.w11" /></br>
		Twitterella the Tweeter:         <input type="text" class="form-control" ng-model="weapons.w12" /></br>
		Master Hawk, Lord of Luft:       <input type="text" class="form-control" ng-model="weapons.w13" /></br>
		Elpha, Wielder of Gems:          <input type="text" class="form-control" ng-model="weapons.w14" /></br>
		Poppy, Daughter of Ceremony:     <input type="text" class="form-control" ng-model="weapons.w15" /></br>
		Skulptor, Protector of Bridges:  <input type="text" class="form-control" ng-model="weapons.w16" /></br>
		Sterling the Enchantor:          <input type="text" class="form-control" ng-model="weapons.w17" /></br>
		Orba the Foreseer:               <input type="text" class="form-control" ng-model="weapons.w18" /></br>
		Remus the Noble Archer:          <input type="text" class="form-control" ng-model="weapons.w19" /></br>
		Mikey the Magician Apprentice:   <input type="text" class="form-control" ng-model="weapons.w20" /></br>
		Peter Pricker the Prickly Poker: <input type="text" class="form-control" ng-model="weapons.w21" /></br>
		Teeny Tom, Keeper of the Castle: <input type="text" class="form-control" ng-model="weapons.w22" /></br>
		Deznis the Cleanser:             <input type="text" class="form-control" ng-model="weapons.w23" /></br>
		Hamlette, Painter of Skulls:     <input type="text" class="form-control" ng-model="weapons.w24" /></br>
		Eistor the Banisher:             <input type="text" class="form-control" ng-model="weapons.w25" /></br>
		Flavius and Oinksbjorn:          <input type="text" class="form-control" ng-model="weapons.w26" /></br>
		Chester the Beast Tamer:         <input type="text" class="form-control" ng-model="weapons.w27" /></br>
		Mohacas the Wind Warrior:        <input type="text" class="form-control" ng-model="weapons.w28" /></br>
		Jaqulin the Unknown:             <input type="text" class="form-control" ng-model="weapons.w29" /></br>
		Pixie the Rebel Fairy:           <input type="text" class="form-control" ng-model="weapons.w30" /></br>
		Jackalope the Fireballer:        <input type="text" class="form-control" ng-model="weapons.w31" /></br>
		Dark Lord, Punisher of All:      <input type="text" class="form-control" ng-model="weapons.w32" /></br>

		Customization: <input type="text" class="form-control" ng-model="customizations.c0" /></br>
		Customization: <input type="text" class="form-control" ng-model="customizations.c1" /></br>
		Customization: <input type="text" class="form-control" ng-model="customizations.c2" /></br>
		Customization: <input type="text" class="form-control" ng-model="customizations.c3" /></br>
		Customization: <input type="text" class="form-control" ng-model="customizations.c4" /></br>
		Customization: <input type="text" class="form-control" ng-model="customizations.c5" /></br>

    
  </form>
  <!-- <pre>form = {{artifacts | json}}</pre>
  <pre>form = {{weapons | json}}</pre>
  <pre>form = {{customizations | json}}</pre> -->
</div>
