<div id="calculator-container">
	<div class="row">
		<div id="content" class="col-xs-12">
			<div class="row">
				<div id="options-box" class="box panel">
					<div id="options-subbox-1" class="options-block">
						<h3>Efficiency Calculator:</h3>
						<div id="options-relics" class="small-form-item">
							Relics to spend: <input type="number" class="form-control number-input right-input" ng-model="relics" min="0" />
						</div>
						<div id="options-nsteps" class="small-form-item">
							Steps to calculate: <input type="number" class="form-control number-input right-input" ng-model="nsteps" min="0" />
						</div>
						<div class="col-">
							<button class="btn btn-primary" ng-click="calculate(artifacts, weapons, customizations)">Calculate</button>
						</div>
						<div style="margin-top: 5px"></div>
						<div class="col-">
							<button class="btn btn-info" ng-click="weaponProbability(weapons)">Get weapon probability</button>
						</div>
						Probability: <input type="number" class="form-control number-input right-input weapon-p" ng-model="wprobability"/>
					</div>

					<div id="options-subbox-2" class="options-block">
						<div id="options-methods">
							<h3>Methods:</h3>
							<div ng-repeat="m in methods" class="method-options small-form-item">
								<label><input type="checkbox" ng-model="methods[$index].value" /> {{m.name}}</label>
							</div>
						</div>
					</div>

					<div id="options-subbox-3" class="options-block">
						<div id="options-greedy" ng-init="greedy=1">
							<h3>Calculation method:</h3>
							<div class="small-form-item">
								<label><input type="radio" ng-model="greedy" value="1">Greedy</label>
							</div>
							<div class="small-form-item">
								<label><input type="radio" ng-model="greedy" value="0" disabled="true">Dynamic Programming (in progress!)</label>
							</div>
						</div>
					</div>

					<div id="options-subbox-4" class="options-block">
						<div id="buttons">
							<h3>Other Stuff:</h3>
							<!-- <div class="col-">
								<button class="btn btn-danger" ng-click="storeToCookies()">Automatically save (off)</button>
							</div>
							<div class="col-">
								<button class="btn btn-danger" ng-click="storeToCookies()">Load from cookies</button>
							</div>
							<div class="col-">
								<button class="btn btn-danger" ng-click="storeToCookies()">Save cookies</button>
							</div> -->
							<div class="col-">
								<button class="btn btn-danger" ng-click="clearAllCookies()">Clear all cookies</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="inputs-box" class="box panel">
					<div id="artifact-weapons-container">
						<div id="artifacts-list" class="list">
							<h3>Artifact Levels:</h3>
							<!-- <div class="form-item has-feedback transition" ng-repeat='a in artifacts'>
								<input type="number" class="form-control number-input" ng-model="a.value" min="0" /><div class="input-label">{{a.name}}</div>
							</div> -->
							<div ui-sortable="sortableOptions" ng-model="artifacts">
								<div class="form-item transition" ng-repeat='a in artifacts'>
									<input type="number" class="form-control number-input left-input" ng-model="a.value" min="0" max="{{artifact_caps[a.index]}}" /><div class="input-label">{{a.name}}</div><div class="myHandle"></div>
								</div>
							</div>
							<!-- <div class="form-item has-feedback transition" ng-repeat-reorder='a in artifacts' ng-repeat-reorder-handle='div.handle'>
								<input type="number" class="form-control form-inline number-input" ng-model="a.value" min="0" /><div class="input-label">{{a.name}}</div><div class="handle"></div>
							</div> -->
						</div>
						<!-- </br>{{artifacts}} -->
						<div id="weapons-list" class="list">
							<h3>Weapons:</h3>
							<div ng-repeat="w in weapons" class="form-item">
								<input type="number" class="form-control number-input left-input" ng-model="weapons[$index].value" min="0" /><div class="input-label">{{w.name}}</div>
							</div>
						</div>
					</div> <!-- artifacts and weapons -->

					<div id="customizations-list" class="list">
						<h3>Bonuses from Customizations:</h3>
						<div ng-repeat="c in customizations" class="form-item">
							<input type="text" class="form-control number-input left-input" ng-model="customizations[$index].value" /><div class="input-label">{{c.name}}</div>
						</div>
					</div>
				</div>

				<div id="steps-box" class="box panel">
					<div id="steps-summary-container">
						<div class="col-">
							<button id="reset-steps" class="btn btn-primary" ng-click="resetSteps()">Reset steps</button>
						</div>
						<tabset>
							<tab ng-repeat="method in methods" heading="{{method.tabname}}" disabled="!method.value">
								<h3 ng-if="steps[method.index] == null">{{stepmessage}}</h3>
								<div id="summary-list" class="list">
									<h3 ng-if="summary_steps[method.index].length > 0" class="animate-if">Summary:</h3>
									<table ng-if="summary_steps[method.index].length > 0" class="animate-if">
										<tr>
											<th class="ssteps-colh0 colh"></th>
											<th class="ssteps-colh1 colh">Artifact</th>
											<th class="ssteps-colh2 colh">Level To</th>
											<th class="ssteps-colh3 colh">Cost</th>
										</tr>
										<tr ng-repeat="ss in summary_steps[method.index] track by $index" class="step-row">
											<td class="ssteps-col0"><span id="checkmark" ng-click="step(true, method.index, $index)"></span></td>
											<td class="ssteps-col1">{{ss.name}}</td>
											<td class="ssteps-col2">{{ss.level}}</td>
											<td class="ssteps-col3">{{ss.cost}}</td>
										</tr>
									</table>
								</div>
								<div id ="steps-list" class="list">
									<h3 ng-if="steps[method.index].length > 0" class="animate-if">Steps:</h3>
									<table ng-if="steps[method.index].length > 0" class="animate-if">
										<tr>
											<th class="steps-colh0 colh"></th>
											<th class="steps-colh1 colh">Artifact</th>
											<th class="steps-colh2 colh">Level</th>
											<th class="steps-colh3 colh">Cost</th>
											<th class="steps-colh4 colh">Total</th>
										</tr>
										<tr ng-repeat="s in steps[method.index] track by $index" class="step-row">
											<td class="steps-col0"><span id="checkmark" ng-click="step(false, method.index, $index)"></span></td>
											<td class="steps-col1">{{s.name}}</td>
											<td class="steps-col2">{{s.level}}</td>
											<td class="steps-col3">{{s.cost}}</td>
											<td class="steps-col4">{{s.cumulative}}</td>
										</tr>
									</table>
								</div>
							</tab>
						</tabset>
					</div>
				</div>
			</div>
		</div> <!-- content -->
	</div>
</div>
