<div id="faq-container">
Here's a formula: $$ \left \lfloor (\text{# of artifacts owned} + 1) \cdot 1.35^{(\text{# of artifacts} + 1)} \right \rceil $$

Why YATTO vs other spreadsheets?

How do you use this?

What does greedy vs. dynamic programming mean?

Is relics per second right?

What is stages per second?

What is K?

How do you get weapon probability?


Formulas/Reference:
	artifact AD
	artifact cost to level
	artifact level cap
	hero upgrade cost
	hero skill cost
	hero evolve cost
	hero damage
	all damage
	cost to buy next artifact
	base stage hp (hp -> stage)
	base stage gold
	relics earned
	gold multiplier
	hero dps
	total dps
	tapping dps





</div>
