<div id="faq-container">
	<div class="row">
		<div id="content" class="col-md-10 col-md-offset-1 col-xs-12">
			Hi! This is a page with information on it. It requires some reading.

			<h3>What is YATTO?</h3>
			<p>YATTO stands for "Yet Another Tap Titans Optimizer." There are already a number of optimizers out there, with <a href="https://www.reddit.com/r/TapTitans/comments/303ngz/updated_artifact_efficiency_calculator_all_credit/">/u/bsedmonds's</a> being the current gold standard, and this is yet another one.

			<h3>Why YATTO?</h3>
			<p>Most up-to-date optimizers are currently spreadsheets, where you make a copy and access it through Google Drive. This is a web app version that makes an attempt to be a superset of the current optimizers (in giving you various metrics to optimize against), with a few quality-of-life features (reorganizing artifact order, automatic artifact level updating) and some experimental stuff (dynamic programming for the search, simulating runs for various metrics). Another big thing is an attempt to incorporate when to buy a new artifact, but I'm still working on that. All that aside, I also just wanted some practice with Angular/Javascript :P

			<h3>How do you use this?</h3>
			<p>Enter in your information on the left, choose a couple of options, and click calculate. The next most efficient artifacts to level will show up on the right, and the specific steps for each metric will be in separate tabs.</p>

			<h3>What does greedy vs. dynamic programming mean?</h3>
			<p>A greedy algorithm is one where it will always pick the best option at each step, with no regard for long-term optimization. For example, if you're in a maze and your goal is to get to a certain point, then a greedy algorithm would try to always walk straight towards that point. Dynamic programming is one way of taking into account future options when making a current decision by breaking apart a problem into subproblems.</p>

			<h3>Is your relics per second metric right?</h3>
			<p>Mostly - the metric is still experimental (I'm still tinkering with things), so no guarantees. However, it is likely that you'll be told to level Undead Aura a lot, which to me makes sense. There's no other artifact that would be able to get you a 5% increase in relics from just one level.</p>

			<h3>What is stages per second?</h3>
			<p>This is a metric that compares how far you can get (using my rough simulation), and then if the stages are equal decides based on time. This would be useful if you're gearing up for tournaments, where you only want to get as far as possible.</p>

			<!-- <h3>What is K?</h3>
			<p>Refer to <a href="http://www.reddit.com/r/TapTitans/comments/31md50/the_ultimate_artifact_calculator_based_on_theory/">this thread</a></p> -->

			<h3>What is the weapon probability?</h3>
			<p>The weapon probablity is supposed to give you a measure of how likely your distribution of weapons was just from chance - the higher the number, the more "normal" it is. This is calculated by running a chi-square test on your weapon counts.</p>

			<h3>This is cool, can I take a look at how you did it?</h3>
			<p>Sure, git repo is <a href="https://github.com/colblitz/YATTO">here</a></p>

			<!-- <h3>Formulas</h3>

			<ul>Formulas/Reference:
				<li>artifact AD
					$$ ad0 + adpl * (level - 1) $$
				</li>
				<li>artifact cost to level
					$$ a *x^y $$
				</li>
				<li>artifact level cap
				</li>
				<li>cost to buy next artifact
					$$ \left \lfloor (\text{# of artifacts owned} + 1) \cdot 1.35^{(\text{# of artifacts} + 1)} \right \rceil $$
				</li>
				<li>hero upgrade cost
					$$ base_cost * 1.075^level, x10 for evolve $$
				</li>
				<li>hero skill cost
					$$ 5 * upgrade cost of next level $$
				</li>
				<li>hero evolve cost
					$$ 10.75 * cost to upgrade 999 $$
				</li>
				<li>hero damage
				</li>
				<li>all damage
				</li>
				<li>base stage hp (hp -> stage)
				</li>
				<li>base stage gold
				</li>
				<li>relics earned
				</li>
				<li>gold multiplier
				</li>
				<li>hero dps
				</li>
				<li>total dps
				</li>
				<li>tapping dps
				</li>
			</ul>

			<ul> Symbols and reference
				<li> \( \left \lfloor x \right \rceil \) means round </li>
			</ul> -->
<!--
			<a href="http://www.reddit.com/user/olaudix">/u/olaudix</a>
			<a href="http://www.reddit.com/user/gxgx55">/u/gxgx55</a>
			<a href="http://www.reddit.com/user/bsedmonds">/u/bsedmonds</a>
			<a href="http://www.reddit.com/user/FateRiddle">/u/FateRiddle</a>
			<a href="http://www.reddit.com/user/asynchronism">/u/asynchronism</a>
			<a href="http://www.reddit.com/user/einzen91">/u/einzen91</a>
			<a href="http://www.reddit.com/user/TheDutchman88">/u/TheDutchman88</a>
			<a href="http://www.reddit.com/user/contigi">/u/contigi</a> -->


			<h3>Special thanks</h3>
			<ul>
				<li>I got a bunch of formulas from <a href="http://www.reddit.com/user/olaudix">/u/olaudix's</a> <a href="https://github.com/oLaudix/oLaudix.github.io">optimizer</a></li>
				<li><a href="http://www.reddit.com/user/gxgx55">/u/gxgx55</a> and <a href="http://www.reddit.com/user/bsedmonds">/u/bsedmonds</a> for the current spreadsheets (<a href="http://www.reddit.com/r/TapTitans/comments/2xypot/my_gold_and_damage_artifact_efficiency_calculator/">here</a> and <a href="https://www.reddit.com/r/TapTitans/comments/303ngz/updated_artifact_efficiency_calculator_all_credit/">here</a>)</li>
				<li><a href="http://www.reddit.com/user/FateRiddle">/u/FateRiddle</a> for the <a href="http://www.reddit.com/r/TapTitans/comments/31md50/the_ultimate_artifact_calculator_based_on_theory/">concept of K</a></li>
				<li><a href="http://www.reddit.com/user/asynchronism">/u/asynchronism</a> for <a href="http://www.reddit.com/r/TapTitans/comments/32m0r4/repost_the_everything_spreadsheet_is_back_and/">the everything spreadsheet</a></li>
				<li><a href="http://www.reddit.com/user/einzen91">/u/einzen91</a> for <a href="http://www.reddit.com/r/TapTitans/comments/3162h7/exact_stage_progression_speed/">stage progression times</a></li>
				<li><a href="http://www.reddit.com/user/TheDutchman88">/u/TheDutchman88</a> for <a href="http://www.reddit.com/r/TapTitans/comments/2u7scp/hero_upgrade_cost_explained/">hero upgrade costs</a></li>
				<li><a href="http://www.reddit.com/user/contigi">/u/contigi</a> for <a href="http://www.reddit.com/r/TapTitans/comments/317usc/new_damage_and_gold_formulas/">damage and gold formulas</a></li>
				<li><a href="http://www.reddit.com/r/TapTitans/comments/32hxes/i_need_data_need_some_more_help/">Data</a> from <a href="http://www.reddit.com/user/SnakeMGL">/u/SnakeMGL</a>, <a href="http://www.reddit.com/user/raffishtenant">/u/raffishtenant</a>, <a href="http://www.reddit.com/user/mowmoth">/u/mowmoth</a>, <a href="http://www.reddit.com/user/TRB4">/u/TRB4</a>, <a href="http://www.reddit.com/user/LeonProfessional">/u/LeonProfessional</a>, <a href="http://www.reddit.com/user/Iottie">/u/Iottie</a>, <a href="http://www.reddit.com/user/Badeky">/u/Badeky</a>, <a href="http://www.reddit.com/user/rajnod">/u/rajnod</a>, <a href="http://www.reddit.com/user/superliro">/u/superliro</a>, <a href="http://www.reddit.com/user/rcbjmbadb">/u/rcbjmbadb</a>, and <a href="http://www.reddit.com/user/Grimspork">/u/Grimspork</a>
			</ul>

			<!-- <h3>Current TODO list</h3>
			<ul>
				<li>CSS so it's not ugly</li>
				<li>Form validation</li>
				<li>Option to save to cookies instead of automatic?</li>
				<li>Make a formulas/reference page (for people who are interested, just look at the code for now)</li>
				<li>Take care of TODOs in calculate.js</li>
				<li>More CSS</li>
				<li>Show/hide weapons/customizations</li>
				<li>Recheck against bsedmonds 2.0.0</li>
				<li>Disclaimer footer thing?</li>
				<li>Dynamic programming</li>
				<li>Think about weapon probability - is chisquare correct?</li>
				<li>Better simulation for relics/stages per second (logic, time calculations)</li>
				<li>Check boss health and gold formula</li>
				<li>User variables for simulation (taps/second, amount to grind, hero skills, etc)</li>
			</ul> -->

		</div>


	</div>


</div>
