<div id="reference-container">
	<div class="row">
		<div id="content" class="col-md-10 col-md-offset-1 col-xs-12">
			<h3>Artifact information</h3>
			<button class="btn btn-primary" id="r-reset-button" ng-click="initialize()">Reset Artifact Levels</button>
			<p>To see what \(ad_0\), \(ad_{pl}\), x, and y are used for, check the Formulas page</p>
			<table id="ref-artifact-table">
				<tr>
					<th>Artifact</th>
					<th>\(ad_0\)</th>
					<th>\(ad_{pl}\)</th>
					<th>Cap</th>
					<th>x</th>
					<th>y</th>
					<th>Current</th>
					<th>Desired</th>
					<th>Cost</th>
					<th>Cumulative</th>
					<th>Amount</th>
					<th>Description</th>
				</tr>
				<tr ng-repeat="a in r_artifacts track by $index">
					<td class="r-artifacts-col00">{{a.name}}</td>
					<td class="r-artifacts-col01">{{a.ad0}}</td>
					<td class="r-artifacts-col02">{{a.adpl}}</td>
					<td class="r-artifacts-col03">{{a.cap}}</td>
					<td class="r-artifacts-col04">{{a.x}}</td>
					<td class="r-artifacts-col05">{{a.y}}</td>
					<td class="r-artifacts-col06">
						<input type="number" class="form-control number-input artifact-input" ng-model="a.current" min="0" max="{{a.cap}}" ng-change="calcArtifacts($index)" ng-class="{'at-cap': a.current==a.cap}"/>
					</td>
					<td class="r-artifacts-col07">
						<input type="number" class="form-control number-input artifact-input" ng-model="a.desired" min="0" max="{{a.cap}}" ng-change="calcArtifacts($index)" ng-class="{'at-cap': a.desired==a.cap}"/>
					</td>
					<td class="r-artifacts-col08">{{a.cost}}</td>
					<td class="r-artifacts-col09">{{a.cumulative}}</td>
					<td class="r-artifacts-col10">{{a.magnitude}}</td>
					<td class="r-artifacts-col11">{{a.text}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<th>Total:</th>
					<td class="r-artifacts-col09">{{sum_cumulative}}</td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<h3>Hero information</h3>
			<p>Check out the <a href="https://docs.google.com/spreadsheets/d/1NPyvhPFAKtRwpbxRXEJNaja-LJV09YiKkt3xA09ZH_w/edit#gid=1962938097">Everything Spreadsheet</a> for a Google spreadsheet version</p>
			<table id="ref-heroes-table">
				<tr>
					<th>Hero</th>
					<th>Cost</th>
					<th colspan="2">(%) Lv 10 Skill</th>
					<th colspan="2">(%) Lv 25 Skill</th>
					<th colspan="2">(%) Lv 50 Skill</th>
					<th colspan="2">(%) Lv 100 Skill</th>
					<th colspan="2">(%) Lv 200 Skill</th>
					<th colspan="2">(%) Lv 400 Skill</th>
					<th colspan="2">(%) Lv 800 Skill</th>
				</tr>
				<tr ng-repeat="h in r_heroes track by $index">
					<td class="r-heroes-col00"><b>{{h.name}}</b></td>
					<td class="r-heroes-col01">{{h.cost}}</td>
					<td class="r-heroes-col02 {{h.skills[0].typeclass}}">{{h.skills[0].magnitude}}</td>
					<td class="r-heroes-col03 {{h.skills[0].typeclass}}">{{h.skills[0].type}}</td>
					<td class="r-heroes-col04 {{h.skills[1].typeclass}}">{{h.skills[1].magnitude}}</td>
					<td class="r-heroes-col05 {{h.skills[1].typeclass}}">{{h.skills[1].type}}</td>
					<td class="r-heroes-col06 {{h.skills[2].typeclass}}">{{h.skills[2].magnitude}}</td>
					<td class="r-heroes-col07 {{h.skills[2].typeclass}}">{{h.skills[2].type}}</td>
					<td class="r-heroes-col08 {{h.skills[3].typeclass}}">{{h.skills[3].magnitude}}</td>
					<td class="r-heroes-col09 {{h.skills[3].typeclass}}">{{h.skills[3].type}}</td>
					<td class="r-heroes-col10 {{h.skills[4].typeclass}}">{{h.skills[4].magnitude}}</td>
					<td class="r-heroes-col11 {{h.skills[4].typeclass}}">{{h.skills[4].type}}</td>
					<td class="r-heroes-col12 {{h.skills[5].typeclass}}">{{h.skills[5].magnitude}}</td>
					<td class="r-heroes-col13 {{h.skills[5].typeclass}}">{{h.skills[5].type}}</td>
					<td class="r-heroes-col14 {{h.skills[6].typeclass}}">{{h.skills[6].magnitude}}</td>
					<td class="r-heroes-col15 {{h.skills[6].typeclass}}">{{h.skills[6].type}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
