<div id="reference-container">
	<div class="row">
		<div id="content" class="col-md-10 col-md-offset-1 col-xs-12">
			<h3>Stuff</h3>

			Artifact Seed: <input type="number" class="form-control number-input right-input" ng-model="seed" min="0" ng-change="stateChanged()"/>

			<table id="ref-artifact-table">
				<tr>
					<th>Artifact</th>
					<th>Priority</th>
					<th>Owned</th>
				</tr>
				<tr ng-repeat="a in s_artifacts track by $index">
					<td class="s-artifacts-col00">{{a.name}}</td>
					<td class="s-artifacts-col01">
						<input type="number" class="form-control number-input artifact-input" ng-model="a.priority" min="0" max="100"/>
					</td>
					<td class="s-artifacts-col02">
						<input type="checkbox" ng-model="a.owned" ng-change="stateChanged()"/>
					</td>
				</tr>
			</table>

			<table>
				<tr>
					<th class="s-steps-colh0 colh"></th>
					<th class="s-steps-colh1 colh">Artifact</th>
				</tr>
				<tr ng-repeat="s in steps track by $index" class="step-row">
					<td class="s-steps-col0"><span class="checkmark" ng-click=""><i class="fa fa-check"></i></span></td>
					<td class="s-steps-col1">{{s.name}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
