<div id="statistics-container">
	<div class="row">
		<div id="content" class="col-md-10 col-md-offset-1 col-xs-12">
			<h3>Prestiger</h3>
			<p>Wes Anderson pug ethical, skateboard sriracha readymade cred bicycle rights gentrify Brooklyn meh artisan biodiesel narwhal. Letterpress twee Bushwick, forage vegan dreamcatcher artisan 8-bit shabby chic selvage Thundercats XOXO mustache health goth keytar. Cliche semiotics Odd Future retro. Heirloom Shoreditch sustainable, meditation craft beer chillwave Vice PBR&B keffiyeh post-ironic cronut vinyl occupy. Mumblecore you probably haven't heard of them kale chips, 3 wolf moon authentic organic viral four dollar toast cray gluten-free. Cred wolf typewriter gentrify, wayfarers normcore retro pug kale chips meh. Next level High Life retro actually aesthetic put a bird on it.</p>

			<p>Before they sold out fingerstache Neutra, aesthetic keytar butcher pug typewriter Brooklyn American Apparel McSweeney's shabby chic gentrify listicle. Art party post-ironic pop-up crucifix synth vegan, bespoke Helvetica seitan fap sustainable YOLO chambray Schlitz twee. Small batch tattooed kale chips retro, Austin gentrify PBR&B ugh letterpress sustainable. Taxidermy American Apparel four loko dreamcatcher narwhal. Four dollar toast blog Intelligentsia, forage trust fund listicle literally lumbersexual +1 retro. Taxidermy chia gluten-free Neutra, jean shorts tousled pork belly keytar Pinterest. Paleo beard messenger bag, migas kogi yr artisan dreamcatcher.</p>

			<div class="row">
				<div class="col-md-2">
					<table id="prestige-table-a">
						<tr>
							<th>Artifact</th>
							<th>Level</th>
						</tr>
						<tr ng-repeat="a in p_artifacts">
							<td>{{a.name}}</td>
							<td>
								<input type="number" class="form-control number-input" ng-model="a.value" disabled=true/>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-2">
					<table id="prestige-table-w">
						<tr>
							<th>Hero</th>
							<th>Weapons</th>
						</tr>
						<tr ng-repeat="w in p_weapons">
							<td>{{w.name}}</td>
							<td>
								<input type="number" class="form-control number-input" ng-model="w.value" disabled=true/>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-2">
					<table id="prestige-table-c">
						<tr>
							<th>Customization</th>
							<th>Value</th>
						</tr>
						<tr ng-repeat="c in p_customizations">
							<td>{{c.name}}</td>
							<td>
								<input type="number" class="form-control number-input" ng-model="c.value" disabled=true/>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					stuff
				</div>
			</div>
		</div>
	</div>
</div>
